<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Giphy Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <form [formGroup]="searchForm">
      <ion-searchbar
        placeholder="Start typing..."
        [clearIcon]="true"
        [debounce]="1000"
        [inputmode]="'search'"
        [showClearButton]="true"
        [searchIcon]="true"
        formControlName="term"
        (ionChange)="searchImages()"
      ></ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let image of images" (click)="showFullScreenImage(image)">
      <ion-img [src]="image.preview_gif.url"></ion-img>
    </ion-card>
  </ion-list>
</ion-content>
